* {
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
  margin-top: 0;
}
.logo {
  font-weight: 800;
  font-size: 45px;
  color: #181818;
}
.r-button {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 168px;
}
nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 25px;
  font-size: 20px;
}
.nav-btn {
  background: #fd6e0a;
  border-radius: 5px;
  width: 200px;
  height: 64px;
  left: 1220px;
  top: 50px;
  border: 0;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.scn-btn{
  color: #FD6E0A;
  font-weight: 700;
  font-size: 20px;
  background: white;
  border-radius: 5px;
  width: 200px;
  height: 64px;
  left: 1220px;
  top: 50px;
  border: 1px #FD6E0A solid;
}

.about {
  max-width: 1140px;

  margin: 0 300px;
  padding: 130px 150px;

  background: #fff8f3;
  border-radius: 10px;
}
.about-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}

.about-description {
  color: #757575;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.details-part {
  display: flex;
  align-items: center;
  margin-bottom: 131px;
  justify-content: center;
}
.details-subpart {
  margin-left: 50px;
}

.p-tag {
  font-weight: bold;
}

.name-part {
  font-weight: 700;
  font-size: 85px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.hi-part {
  font-weight: 600;
  font-size: 45px;

  color: #474747;
}
.des {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
}
.banner {
  margin-left: 151px;
  display: flex;
  align-items: center;
}
.img-part {
  margin-left: 563px;
}


main {
  margin-top: 100px;
}

.what-i-do {
  padding: 130px 150px;
  max-width: 1140px;
  margin: 0 300px;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin: 100px 0;
}

.whatido-para {
  font-size: 18px;
  text-align: center;
  color: #757575;
  margin-top: 30px;
  margin-bottom: 50px;
}
.skill {
  display: flex;
  gap: 25px;
}
.skill-part {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skillhead {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
}

.imgpart {
  margin: 30px;
}
.skillpara{
  margin: 30px;
}

.resume{
max-width: 1140px;
 margin: 0 300px;
 padding: 130px 150px;
}

.main-resume{
 display: flex;
 gap: 80px;
 

}


.resume-sec-title{
 margin-bottom: 30px ;
 
 font-weight: 700;
font-size: 30px;
}

.parthead{
 font-weight: 700;
font-size: 25px;
line-height: 34px;
margin-top: 30px;

color: #474747;
}
.partsubhead{
font-weight: 600;
font-size: 20px;

color: #757575;
margin-top: 10px;
margin-bottom: 20px;
}
.partpara{
  color: #757575;
  margin-top:20px;
  text-align: left;
  margin-bottom: 20px;
}

.resumebtn{
  text-align: center;
  margin: 50px 300px;
}

.formpart{
  display: flex;
  background: #FFF8F3;
}
.iconpart {
  padding: 130px 150px;
}
.inputpart{
  padding: 130px 150px;
}
.iconpart-title{
  font-weight: 700;
font-size: 35px;
margin-bottom: 20px;
}
.iconpart-para{
  margin-bottom: 30px;
}
input[type=text], input[type=email]{
  background: #FFFFFF;
border-radius: 5px white ;
border: none;
padding: 10px;
margin-top: 10px;
height: 64px;
width: 100%;

}
textarea{
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
   color: #757575;
}